.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0px 1em 0px 1em; */
    width: 100%;
    outline: black solid 1px;
}

.Header-Logo {
    display: inline;
}

.Header-UserText {
    display: inline;
    padding-right: 10px;
}